.call_control{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 80vw;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    bottom: 0vh;
    z-index: 1000;
    min-width: 250px;
    background: #121212FF;
    padding: 3px;

}