.btn{
    color: #0b1419 !important;
    font-size: 25px !important;
    font-weight: bold;
}
.btn-default{
    background-color: #F8F1F1 !important;
    height: auto;
    width: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 3px 2px #EFF7E1;
}
.btn-modal{
    background-color: #0b1419 !important;
    color:#F8F1F1 !important;
    box-shadow: 0px 0px 3px 2px #0f1c24;
}